.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $menu-text-color;
  }
  li {
    color: $menu-text-color;
  }
  .menu {
    li > a {
      display: inline;
    }
    .active-link {
      font-weight: 700;
    }
  }
  .top-bar-right {
    .menu {
      li {
        line-height: 2.5;
        a {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
